<footer class="container-fluid" id="contact">
    <div class="col text-center py-3">
        <div>Contacto: 
            <a href="mailto:email@gmail.com" target="_blank">{{email}}</a>
        </div>
        <div class="row py-3">
            <div class="col">
                <a href="https://www.youtube.com">
                    <span class="bi bi-youtube"></span>
                </a>
            </div>
            <div class="col">
                    <a href="https://www.instagram.com/corazondesuroeste/">
                <span class="bi bi-instagram"></span>
                </a>
            </div>
            <div class="col">
                <a href="http://open.spotify.com/intl-es/artist/7zz5UZlGW8enxZdZ9pd6Os">
                    <span class="bi bi-spotify"></span>
                </a>
            </div>
        </div>
        <div class="avisoslegales" (click)="avisosClicked('avisos')">Avisos legales</div>
    </div>
</footer>