/* Global styles and structure */
*{
    padding: 0;
    margin: 0;
    border: none;
}

:root {
    --color-fondo: #17161b
}

/* Estructure */

body {
    height: 100dvh;
    padding: 0;
    margin: 0;
}

nav {
    min-height: 10%;
}

main {
    min-height: 70%;
    /* padding-bottom: 25%; */
}

footer {
    min-height: 20%
}


/* Styles */

body {
    background-color: var(--color-fondo);
}

.black-shadow {
    box-shadow: 0px 5px 25px hsla(240, 14%, 12%, 0.349);
}

.colorFondo {
    color: var(--color-fondo);
}